<mat-card data-testid="hero-card" class="card" [ngClass]="isWinner ? 'card cardWinner' : 'card'">
  <mat-card-header>
    <mat-card-title data-testid="card-title">{{hero?.properties?.name}}</mat-card-title>
    <mat-card-subtitle>Player 1</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="cardContent">
    <span>{{"Gender: " + hero?.properties?.gender}}</span>
    <span>{{"Eye color: " + hero?.properties?.eye_color}}</span>
    <span>{{"Hair color: " + hero?.properties?.hair_color}}</span>
    <span>{{"Skin color: " + hero?.properties?.skin_color}}</span>
    <span>{{"Height: " + hero?.properties?.height}}</span>
    <span><b>{{"Mass: " + hero?.properties?.mass}}</b></span>
    <span>{{"Birth year: " + hero?.properties?.birth_year}}</span>
  </mat-card-content>
  <mat-card-footer class="cardFooter" *ngIf="isWinner">
    <p>Winner</p>
  </mat-card-footer>
</mat-card>
