<div *ngIf="randomStarships.length > 0; else loader">
  <div class="container">
    <app-starship-card [starship]="randomStarships[0]" [isWinner]="person1Win"></app-starship-card>
    <p class="text-3xl">vs</p>
    <app-starship-card [starship]="randomStarships[1]" [isWinner]="person2Win"></app-starship-card>
  </div>
</div>
<app-scores [player1Score]="player1Score" [player2Score]="player2Score"></app-scores>
<div class="replayButton">
  <button data-testid="replay-button" mat-raised-button color="primary" (click)="replayBattle()">Replay</button>
</div>
<ng-template #loader>
  <mat-spinner style="margin: 0 auto;"></mat-spinner>
</ng-template>
